<nav class="navbar bg-body-tertiary">
  <div class="navbar-brand">
    <%= link_to restaurants_path do %>
      <%= image_tag "yelp-logo2.png", size: "100-100", class: " w-25" %>
    <% end %>
  </div>
  <div>
    <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-outline-secondary" %>
  </div>
</nav>
