
<h2 class = "m-3">Our Restaurants</h2>


<% @restaurants.each do |restaurant| %>
  <div class = "card">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none text-dark" %>
      </h5>
      <h6>
        <%= restaurant.category.capitalize %>
      </h6>
      <p class="card-text">
        🏠 <%= restaurant.address %>
      </p>
    </div>
  </div>
<% end %>
